.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background: linear-gradient(#121212, #212b46);  */
  background-image: url(./assets/background-img.jpg);
  background-position: center;
  background-size: cover;
}

.title {
  font-size: 4rem;
  color: #fff;
  animation: left-right 4s;
}

@keyframes left-right {
  0% {
    transform: translateX(80px);
  }
  50% {
    transform: translateX(-80px);
  }
  100% {
    transform: translateX(0);
  }
}

.containerInput {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 15px;
  margin: 34px 0px;
  display: flex;
  border-radius: 8px;
  box-shadow: 1px, 3px, 8px rgba(0, 0, 0, 0.5);
}

.containerInput input {
  background-color: transparent;
  border: none;
  font-size: 1.25rem;
  color: #fff;
  outline: none;
}

.containerInput input::placeholder {
  color: #f1f1f1;
}

.buttonSearch {
  background-color: transparent;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s;
}

.buttonSearch:hover {
  transform: scale(1.2);
}

main {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  background-color: #fff;
  width: 500px;
  border-radius: 8px;
}

.main h2 {
  margin: 16px, 0;
  font-size: 2rem;
}

.main span {
  margin-bottom: 16px;
  font-weight: bold;
}

@media screen and (max-width: 620px) {
  .container {
    background-position: right;
  }

  .title {
    font-size: 3rem;
  }
  .main h2 {
    font-size: 1.5rem;
  }
  .main {
    width: 80%;
    min-height: 200px;
  }
}
